@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --cor-primaria:#F06;
    --cor-texto:#FFF;
    --bg-padrao: #111;
    --bg-destaque:#2d2d2d;
    --font-padrao:'Roboto', sans-serif;
}

body{
    background-color: var(--bg-padrao);
    font-family: var(--font-padrao);
}
header{
    display: flex;
    background-color: var(--bg-destaque);
}
#titulo{
    color: var(--cor-primaria);
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}
nav{
    display: flex;
    align-items: flex-end;
}
nav ul{
    display: flex;
    
}
nav li{
    list-style: none;
    margin: 0.6rem;
}
a{
    color: var(--cor-texto);
    font-size: 18px;
    text-decoration: none;
}

#hero{
    height: 12.5rem;
    width: 100%;
    position: relative;
}

#hero::before{
    content: '';
    height: 100%;
    width: 100%;
    background-image: url('https://www.themoviedb.org/t/p/original/725WE0Qb1BbUF7aGvjiQqzzffpg.jpg');
    position: absolute;
    background-size: cover;
    z-index: -1;
    filter:opacity(0.6);
    box-shadow: inset 0 -100px 100px var(--bg-padrao);
}

#hero p{
    padding: 2rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    line-height: 44px;
    letter-spacing: 0.04em;
    color: var(--cor-texto);
    text-shadow: 0px 4px 4px #000;
}
h2{
    color: var(--cor-texto);
    border-left: var(--cor-primaria) 5px solid;

}
.card{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-destaque);
    width: 120px;
    border-radius: 6px;
    padding-bottom: 5px;
    margin: .8rem;
}
.card img{
    border-radius: 6px;
    width: 120px;
    
}

.card p{
    margin: .3rem 0;
    color: var(--cor-texto);
}
.card .nota{
    display: flex;
    align-items: center;
    color: var(--cor-texto);
    justify-content: center;
}
.card .estrela{
    color: gold;
}
.filmes{
    display: flex;
    flex-wrap: wrap;
}
.botao{
    background-color: var(--cor-primaria);
    padding: 5px 20px 5px 15px;
    border-radius: 5px;
    margin: 0 0.7rem;
    transition: box-shadow 0.5s ease-in-out;
}
.botao:hover{
    box-shadow: 0 0 10px #FFF;
}

